<main>
  <div class="head">
    <h1>商品/メニュー一覧</h1>
  </div>
  <div class="content-list">
      <div class="new-action">
        <%= link_to new_admin_shop_item_path do %>
        <i class="fas fa-plus">&thinsp;新規作成</i>
        <% end %>
      </div>
  </div>
<% @items.each do |item| %>
<p><%= link_to item.name, admin_shop_item_path(@item, @shop) %></p>
<% end %>
<p><%= link_to "編集する", edit_admin_shop_item_path(@item, @shop) %></p>
</main>
