<main>
  <div class="head">
    <% if @shop.logo_id.blank? %>
    <p><%= @shop.name %></p>
    <% else %>
    <%= attachment_image_tag @shop, :logo %>
    <% end %>
  </div>
  <ul class="slider">
    <% @top_banners.each do |banner| %>
    <li><%= attachment_image_tag banner, :image %></li>
    <% end %>
  </ul>
</main>
