<main>
  <div class="withdrawal">
    <p><i class="fas fa-exclamation-circle"></i>退会手続きの前にご確認ください</p>
    <div class="withdrawal_text">
      <p>出店者会員を退会された場合には、現在登録されているお店の情報やブックマーク・レビューの履歴を公開することができなくなります。退会をする場合は「退会する」をクリックしてください。</p>
    </div>
    <%= form_with(url:admin_withdrawal_path, local:true, method: :patch) do |f| %>
    <div class="decision">
      <%= link_to "退会しない", admin_path(current_customer) %>
      <%= f.submit "退会する", data: { confirm: "本当に退会しますか？"}, class: 'button' %>
    </div>
    <% end %>
  </div>
</main>